* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

* {
    font-family: 'Inter', sans-serif;
}

/* Fonts */

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

/* Fonts End */

/* Nav Bar */

.navbar-menu {
    width: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: 25%;
    margin-right: 25%;
    position: sticky
}

.navbar-item a {
    color: black;
    font-size: 20px;
    margin: 15px;
}


/* Nav Bar End */

/* Hero */

.dentistry-hero {
    background-image: url(../images/Hero.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.hero-text {
    width: 40%;
    text-align: justify;
    margin: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;

}

.hero-text p {
    color: rgb(51, 50, 50);
    font-size: 25px;
    font-weight: 500;
    ;

}

.hero-text h2 {
    color: rgb(51, 50, 50);
    font-size: 60px;

}

.button {
    margin: 5px;
}

/* Hero End */

/* Services */

.service {
    border-color: #C5FBE2;
    border-style: solid;
    border-radius: 2%;
    width: 20%;
    padding: 20px;
    height: 25em;
}

.service h3 {
    font-size: 30px;
    text-align: center;
    margin: 5px;
}

.service p {
    font-size: 20px;
    margin-top: 5px;
    text-align: justify;

}

.service-icon {}

/* Services End */

/* Why Dentedge Section */

#welcome-text {
    margin-left: 15%;
    margin-right: 10%;
    line-height: 2;
    text-align: justify;
    font-size: 20px;
}

.why-dentedge {
    background-color: rgb(109, 241, 202);
}

#valued-patients {
    font-weight: bold;
}

#doctor-img {
    width: 100%;
    height: fit-content;
}

/* Why Dentedge Section End*/

/* Gallery */

.gallery-btn {
    margin: 40px;
}

.gallery-statement {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.preview-imgs {
    width: 100%;
}

/* Gallery End */

/* footer */

.footer {
    background-color: rgb(109, 241, 202);
}

h4 {
    text-decoration: underline;
    font-weight: bold;
}

.contact-container {
    line-height: 2.0;
}

.address {
    margin-top: 20px;
}

.our-services {
    line-height: 2.0;
}

.socials-logo,
.socials-btn {
    background-color: rgb(109, 241, 202);
    width: 4em;
    cursor: pointer;

}

.socials {
    margin-top: 25px;
}









/* footer end */